<launch>
    <node pkg="ho_localization_project" type="localization_node.py" name="turtlebot_localization" output="screen" />
    <node pkg="ho_localization_project" type="controller_node.py" name="twist_to_wheel_vel" output="screen" />

    <!-- Launch ArUco detector-->
    <node pkg="ho_localization_project" type="aruco_detector_node.py" name="aruco_pose_to_range" output="screen" />
</launch>